body {
    min-width: 360px;
}

main {
    height: 100%;
    top: 0;
    padding: 10px;
    margin: 0;
}

button {
    padding: 4px;
}

h1 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

#idea-box {
    height: 150px;
    margin: 16px auto;
}

#idea-box::before {
    height: 150px;
    width: 150px;
}

#idea {
    font-size: 1.2rem;
}

#heart-img {
    width: 20px;
    height: 20px;
}